* {
    margin: 0;
    padding: 0;
}

h2{
    margin: 0px;
    padding: 0px;
    padding-top: 7px;
    padding-left: 6px;
    font-size: x-large;
    color: rgb(236, 182, 5);
}

h4{
    margin-left: 9px;
    color: rgb(236, 182, 5);
}

hr{
    margin: 4px;
}

p{
    margin: 0px;
    padding: 0px;
    padding-left: 9px;
    font-size: small;
}

body{
    background-color:#e6e6e6;
}

.header{
    background-color: #f7b600;
    border: 0px solid;
    max-width: 1600px;
    height: 230px;
    width: 100%;

}

.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    font-weight: bolder;
    position: relative;
    left: 670px;
    top: 50px;
    text-decoration: none;
}

.tec{
    color: rgb(0, 0, 0);
}

.blog{
    color: aliceblue;
}

.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navsection{
    display: inline;
    float: left;
}

.navsection a{
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    padding: 14px 16px;
    background-color: rgba(255, 255, 255, 0.247);
    position: relative;
    left: 534px;
    top: 80px;
}

.navsection a:hover{
    color: white;
    background-color: rgba(17, 17, 17, 0.479);
}

.main{
    background-color: white;
    position: relative;
    left: 270px;
    width: 650px;
    padding: 15px;
    padding-bottom: 1px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.articles{
    width: 647px;
    border: 1px solid;
    box-shadow: 1px 1px 1px;
    margin: 1x;
    margin-bottom: 16px;
    
}

.post-text{
    margin: 0px;
    font-size: medium;
    padding: 25px;
    text-align: justify;
}

.post-photos{
    width: 595px;
    padding: 25px;
    padding-bottom: 10px;
    
}

.read-more-button a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.37);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: -15px;
    left: 560px;
    padding: 6px;
    width: 49px;
    border: 1px solid black;
}

.read-more-button a:hover{
    color: white;
    background-color: black;
}

.sidebox{
    float: right;
    margin-top: 15px;
    position: relative;
    left: -340px;
    padding: 1px;
    width: 300px;
    min-height: 50px;
    background-color: white;
    clear: both;
}

.sidebox-head{
    background-color: rgb(153, 153, 153);
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px;
    font-weight: bold;
    font-size: medium;
}

.sidebox-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 10px;
    margin-top: 5px;
    padding: 0px;
    text-align: justify;
}

.sidebox-link{
    color: #f7b600;
}

.sidebox-list{
    list-style-type: none;
    display: block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.footer{
    position: relative;
    right: -270px;
    background-color: rgba(175, 172, 172, 0.329);
    padding: 15px;
    text-align: center;
    width: 650px;
}